version: '2'

services:
  shipping:
    image: TAG_TO_REPLACE
    hostname: shipping
    restart: always
    cap_drop:
      - all
    cap_add:
      - NET_BIND_SERVICE
    read_only: true
    tmpfs:
      - /tmp:rw,noexec,nosuid
    environment:
      - reschedule=on-node-failure
      - DT_CUSTOM_PROP=app=shipping,environment=dev
    ports:
      - "8082:80"